.navbar {
  width: 50px; /* Adjust width as needed */
  background-color: #030303; /* Background color */
  color: white ;
  height: 93vh;
  padding: 20px; /* Padding */
}


.link {
  display: flex; /* Align items */
  align-items: center; /* Center items vertically */
  padding: 10px; /* Space around the button */
  transition: background-color 0.2s; /* Smooth transition */
}

.link[data-active='true'] {
  background-color: #ee0000; /* Active link background color */
}
