.navbar {
width: 80px;
 background: #1d1d25;
 ;
 position: fixed;
 color: white;

}

.link {
  display: flex; /* Align items */
  align-items: center; /* Center items vertically */
justify-content: center;
height: 58px;
width: 60px;
  margin-bottom: 10px ;
 background: transparent;
 color: rgb(184, 176, 190);
 border: none ;
 font-size: x-large;
 margin-left: 10px ;
}



.link[data-active='true'] {
  background-color: #45414f; /* Active link background color */
  font-weight: bold; /* Make the active link bold */
}

.buttonContainer {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  margin-left: 10px;
}

.button {
  margin-top: 10px; /* Space above buttons */
 width: 60px;
 height: 46px;
 background: transparent;
 border: none;
 color: white;

}
.hamburger{
  margin-left: 20px;
  font-size: 1.6rem;
}
