body {
  background-color: #17171e;
  margin: 0; /* Remove default margin */
  font-family: Arial, sans-serif; /* Optional: set a default font */
  color:white ; /* Optional: set default text color */
}
